@charset "utf-8";

body {
	background-color: #FAF7EB !important;
}

#order_wrapper {
	font-family: 'Noto Serif KR', serif;
}

.order_table_list {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.order_title {
	font-size: 20pt;
	height: 20px;
	margin-bottom: 10px;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

#order_table {
	border: 3px solid lightgray;
}

#order_table td {
	text-align: center;
	border: 2px solid lightgray;
}

.order_table_date {
	padding: 10px;
	width: 400px;
	border: 3px solid lightgray;
	margin-left: 150px;
	margin-top: 20px;
}

.container {
	text-align: center;
}	