@charset "utf-8";

body {
	background-color: #FAF7EB !important;
}

#order_wrapper {
	font-family: 'Noto Serif KR', serif;
}

.order_table_list {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.order_title {
	font-size: 25pt;
	height: 20px;
	margin-bottom: 40px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

#order_table {
	border: 3px solid lightgray;
	background-color: #F5FEFD;
	margin-top: 10px;
}

.order_th {
	text-align: center;
	background-color: #E28F63;
	color: white;
	height: 40px;
	border: 3px solid lightgray;
}

#order_table td {
	text-align: center;
	border: 3px solid lightgray;
}

.order_table_date {
	
	width: 400px;
	border: 1px solid #FAF7EB;
	
}


.container {
	text-align: right;
}

.order_title_img{
	
	width: 50px;
	height: 50px;
}

