@charset "utf-8";

#order_wrapper{
	
	font-family: 'Noto Serif KR', serif;
}

.order_table_list{
	
	margin-left: 150px;
	width: 80%;
	margin-top: 10px;
}

.order_title{
	
	width: 80%;
	font-size: 20pt;
	height: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}

#order_table{
	
	border: 3px solid lightgray;
}

.order_th{
	
	text-align: center;
	background-color: #A27855;
	color: white;
	height: 50px;
	border: 2px solid lightgray;
}

#order_table td{
	
	text-align: center;
	border: 2px solid lightgray;
}

.order_table_date{
	
	padding: 10px;
	width: 30%;
	border: 2px solid lightgray;
}

.container{
	
	text-align: center;	

}

