@charset "utf-8";

		/* 전체 div */
		#wrapper{
			width: 80%;
			margin-left: 10%;
			margin-top: 2%;
			
			/* background-color: yellow;	 */
		}
		
		/* font: 주문결제 */
		#title{
			font-size: 38px;
			font-family: "Montserrat", sans-serif;
			font-weight: bold;
			color: black;
			padding-left: 7%;
		}
		
		/* 맨위의 선 */
		#top_hr{
			margin-top: 2%;
			background-color:gray;
		}
		
		
		/* 세 div를 담는 div */
		#container{
			width: 100%;
			margin-top: 2%;
			display: flex;
			
			/* background-color: red; */
		}
		
		
		/* 왼쪽 - 배송지선택 div & 주문정보 div */
		#left_info{
			width: 50%;
			margin-right: 4%;
		}
		
		
		/* 테이블 전체적용 */
		table{
			font-family: dotum, "돋움";
			width: 100%;
			margin-left: 3%;
		}
		
		
		/* 배송지 정보 div */
		#transport_info{
			width: 100%;
			margin-bottom: 5%;
			
			/* background-color: blue; */
		}
		
		
		
		/* 모든 테이블 행에 적용 */
		tr{
			text-indent: 2em;
		}
		
		
		/* 모든 테이블 th에 적용 */
		th{
			padding-left: 10px;
		}
		
				
		/* 배송지 선택 */
		.captions{
			font-size: 20px;
			font-family: "Montserrat", sans-serif;
			color: black;
			font-weight: bold;
			padding-left: 4%;
			margin-bottom: 4%;
		}
		
		
		/* 회원정보와 동일 */
		#same_as{
			font-size: 0.9em;
			font-weight: normal;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		
		
		/* 수령인 입력행 */
		#input_recipient{
			/* tr에 줄경우 안먹는다 - th랑 td에 넣어야한다 */
			padding-top: 13px;
			padding-bottom: 13px;
		}


		/* 배송지 입력행 */
		#input_addr{
			/* tr에 줄경우 안먹는다 - th랑 td에 넣어야한다 */
			padding-top: 13px;
			padding-bottom: 13px;
		}
		
		
		/* 배송지적는 란 */
		#addr2{
			margin-left: 28px;
			margin-top: 10px;
		}
		
		
		/* placeholder */
		input::placeholder{
			opacity: 0.5;
		}
		
		
		/* 전화번호 입력행 */
		#input_hp{
			/* tr에 줄경우 안먹는다 - th랑 td에 넣어야한다 */
			padding-top: 13px;
			padding-bottom: 13px;
		}
		
		/* 전화번호적는 테이블 div */
		.hp{
			width: 70px;
		}
		
		
		/* 전화번호 앞자리 선택란 */
		#select_hp1{
			width: 50px;
			height: 25px; 
		}
		
		
		/* 주문 정보 div */
		#product_info{
			width: 100%;
			padding-top: 4%;
			margin-left: 3%;
			/* background-color: green; */
		}
		
		
		/* 슬라이드 안의 이미지 */
		img{
			/* margin-top: 1%; */
			width: 50%;
			height: 50%;
		}
		
		/* 슬라이더를 담고있는 div */
		div.bx-wrapper{
			background-image: url(../image/frame.png);
			/* background-color: #ffffde; */
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
		
		/* 이미지를 담고있는 div */
		.img_div{
			text-align: center;
			align-self: center;
			/* background-color: #ffdca1; */
			/* background-image: url(../image/frame.png);
			background-color: #ffffde;
			background-repeat: no-repeat;
			background-size: 100% 100%; */
		}
		
		
		/* 슬라이드 안의 이미지 */
		.img{
			/* padding: 30px 0px 100px 185px; */
			margin: auto;
			/* 그림자 */
			box-shadow: 7px 7px 7px gray;
		}
		
		
		/* 책이름 */
		.img_name{
			padding-top: 9%;
			padding-bottom: 3%;
			font-family: "Noto Serif KR";
			font-size: 1.7em;
			font-weight: bold;
		}
		
		
		/* 책 총가격, 갯수 */
		.totP_ea{
			padding-top: 3%;
			padding-bottom: 6%;
			font-family: 'Tahoma';
			font-size: 1.2em;
			font-weight: bold;
		}
		
		
		/* 결제 정보 div */
		#payment_info{
			width: 50%;
			float: right;
			
			background-color: gray;
		}
		
		
		
		
		
		
		
		