.review{
	width: 100%;
}

.input-review{
	display: flex;
	width: 100%;
	height: 100px;
}

.input-review > textarea{
	resize: none;
	width: 80%;
	height: 100%;
}

.input-review > .submit-review{
	border: none;
	border-radius: 5px;
	color: #FFF;
	background-color: #E6B05F;
	margin-left: 2%;
	margin-right: 2%;
	width: 15%;
	height: 100%;
}

.input-review > #submit-review:hover{
	background-color: #E09B3F;
}