@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap');

body {
	background-color: #FAF7EB;
}

a { text-decoration:none !important }

a:hover { text-decoration:none !important }

#title_book {
	width: 70px;
	height: 70px;
	margin-right: 10px;
	margin-top: 7px;
}

#title_text_1 {
	position: absolute;
	top: 5pt;
	font-family: 'Noto Serif KR', serif;
	font-size: 35pt;
	color: #55661c;
}

#title_text_2 {
	position: absolute;
	top: 5pt;
	margin-left: 75pt;
	font-family: 'Noto Serif KR', serif;
	font-size: 35pt;
	color: #3D2A26;
}

#title_leaves {
	width: 30px;
	height: 30px;
	margin-left: 150pt;
	margin-top: 35pt;
}