@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap');

#title_de {
	text-decoration: none !important;
}

#title_de:hover {
	text-decoration: none !important;
}

.title_de {
	margin-top: -8px;
	margin-bottom: 20px;
	padding-left: 30%;
	padding-right: 30%;
	height: 100%;
}

.title_text{
	width: 100%;
}

.title_text_de{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 24px;
	cursor: pointer;
}

.title_text_de > b{
	margin-top: 10px;
}

#title_book {
	width: auto;
	height: auto;
	margin-top: 35px;
	max-width: 60px;
	max-height: 60px;
	margin-right: 1%;
}

#title_text_1 {
	font-family: 'Noto Serif KR', serif;
	font-size: 35pt;
	color: #55661c;
	margin-top: 33px;
	margin-right: 2%;
}

#title_text_2 {
	font-family: 'Noto Serif KR', serif;
	font-size: 35pt;
	color: #3D2A26;
	margin-top: 33px;
}

#title_leaves {
	width: auto;
	height: auto;
	margin-top: 65px;
	max-width: 30px;
	max-height: 30px;
	margin-left: 1%;
}